{{ header }}
	<div id="content">
		{{ column_left }}		
		{{ content_top }}		
		{{ content_bottom }}		
		{{ column_right }}		
	</div>
	<script>
		$(function() {
			$(".slider1").owlCarousel({
				items: 3,
				loop: true,
				nav: true,
				navText: ['', '']
			});

		});
	</script>
{{ footer }}

